flask
onnx
onnxruntime
gevent
pyzbar
pytest
pytest-flask
ujson
imageio
flasgger
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.2.1
natsort==7.0.1
nltk==3.4.5
numpy
opencv-python-headless==4.2.*
Pillow
pyparsing
python-dateutil
scipy
six
torchvision==0.5.0
qrcode
requests
tqdm
prometheus_flask_exporter
setuptools_scm
pytest-xdist